---
id: '91240b4d-51aa-460b-b310-2ac152462737'
learning-outcome: "Understand mechanisms and institutions for International coordination, treaties, and verification"
domain: '[[../Domains/Governance and Policy]]'
stage: beginner
tags:
  - skill-tree-placeholder
---
